<label for="searchBar">Search for a class here! </label>
            <input type="text" class="search" name="nameSearchBar" id="nameSearchBar" placeholder="Class' name:"></input>
            <input type="text" class="search" name="teacherSearchBar" id="teacherSearchBar" placeholder="Teacher's name:"></input>
            <input type="number" class="search" name="periodSearchBar" id="periodSearchBar" placeholder="Class' period:"></input>
            <div id="classesDiv">
            </div>