<title>Easy AssignBook</title>
<script>
    var isLoggedIn;
    $(document).ready(function() {
        isLoggedIn = {{loggedin}};
        if (isLoggedIn == 1) {
            var username = "{{userName}}";
            $("#name").text("Welcome, " + username + "!");
        } else {
            $("#name").text("Welcome, Guest!");
        }
        //This creates the 'Welcome, (name)' in the sidebar
    });
</script>
<a id="hamDiv" class="btn btn-info btn-sm">
    <span id="ham" class="glyphicon glyphicon-menu-hamburger"></span>
</a>
<div id="sidebar-wrapper" class="toggled">
    <ul class="sidebar-nav">
        <li class="sidebar-section siteTitle">
            <a href="../">
                            Easy Assignbook
                        </a>
        </li>
        <li class="sidebar-brand" id="name">

        </li>
        <br/>
        {% if not loggedin %}
        <li class="sidebar-section notLoggedIn">
            <a href="./login">Login</a>
        </li>
        <li class="sidebar-section notLoggedIn">
            <a href="./register">Register</a>
        </li>
        {%else%}
        <li class="sidebar-section isLoggedIn">
            <a href="./classes"> View Classes </a>
        </li>
        <li class="sidebar-section isLoggedIn" id="myClasses">
            <a href="./myClasses"> My Classes & Homework</a>
        </li>
        <li class="sidebar-section isLoggedIn">
            <a href="./settings"> Settings </a>
        </li>
        {% if random(4)==0 %}
        <li class="sidebar-section isLoggedIn">
          <a href="/survey"> Short Survey </a>
        </li>
        {% endif %}
        <li class="sidebar-section isLoggedIn">
            <a href="./logout">Log Out </a>
        </li>
        {% endif %}
        <li class="sidebar-section">
          <iframe src="https://www.tinfoilsecurity.com/badge_iframe/149136fbe67b787a9c70e587ca05882a5b5fca0f?type=b&size=2" sandbox="allow-popups" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:115px; height:35px;"></iframe>
        </li>
    </ul>
</div>
